<div class="header">
	<h1>MTAstatus</h1>
	<h5>A simple way to track MTA service statuses</h5>
</div>

<div class="status">
	<div class="service_form">
	<p>Select a Service:</p>
	<form>
		<select name="services">
			<option value="subway">Subway</option>
			<option value="bus">Bus</option>
			<option value="BT">Bridges & Tunnels</option>
			<option value="LIRR">LIRR</option>
			<option value="MetroNorth">MetroNorth</option>
		</select>
		<input type="submit" value="Submit">
	</form>
	</div>
</div>

<div class="reroute_modal">
</div>