/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	background: url('/assets/subway.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

body {
	width: 720px;
	font-family: Helvetica;
	margin: auto;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
}

.header {
	display: inline;
	margin-bottom: 5%;
	text-align: center;
}

.status {
	padding-bottom: 0.1%;
}

.service_form {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.service_table {
	display: table;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1.33em;
	border: 1px solid black;
	border-spacing: 10px;
}

.service_table table {
	margin-left: auto;
	margin-right: auto;
}